<section class="background-ko7ly">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="footerItem text-center text-white">
                    <h4 class="text-uppercase"> LOCATION</h4>
                    <p>2215 John Daniel Drive<br>
                        Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footerItem text-center text-white">
                    <h4 class="text-uppercase"> AROUND THE WEB</h4>
                    <p class="socialIcons d-flex justify-content-center align-items-center text-center "> 
                        <i class=" fab fa-facebook-f d-flex justify-content-center align-items-center"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fas fa-basketball-ball"></i>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footerItem text-center text-white">
                    <h4 class="text-uppercase"> ABOUT FREELANCER</h4>
                    <p>Freelance is a free to use, MIT<br> licensed Bootstrap theme created by .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyRight py-4">
    <div class="container text-center text-white">
<small> Copyright © Your Website 2021 </small>
    </div>
</section>