<section class="about bg-green py-5">
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div>
            <h2 class="text-white pageHeader aboutHeader">About</h2>
            <div class=" stardiv justify-content-center align-items-center w-100 text-center">
                <span class="starIcon "> <i class=" fas fa-star "></i></span>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row m-auto">
            <div class="col-lg-4 ms-auto ">
                <div class="aboutArticle">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
                        complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets
                        for easy customization.</p>
                </div>
            </div>
            <div class="col-lg-4  me-auto">
                
                    <p class="aboutArticle">You can create your own custom avatar for the masthead, change the icon in the dividers, and add
                        your email address to the contact form to make it fully functional!</p>
                
            </div>
        </div>
    </div>
</section>