::placeholder{
    font-size: 25px;
 }

.form-group label{
    transition: color 0.5s;
}

.line{
    height: 1px;
    background-color: #000;
    opacity: 0.1;
}

.sendBtn:hover{
    background-color: rgb(21, 154, 128);
    border-color: rgb(20, 143, 119);
}