<nav class="navbar navbar-expand-lg navbar-dark  navBackground  ">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#">START ANGULAR </a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active-navLink"  >Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" [routerLink]="['/portofolia']" routerLinkActive="active-navLink">Portofolia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" [routerLink]="['/about']" routerLinkActive="active-navLink">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" [routerLink]="['/contact']" routerLinkActive="active-navLink">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>