<section id="homeSection" class="vh-100 ">
    <div class ="w-100 h-100 d-flex justify-content-center text-center align-items-center container text-white"> 
        <div class="homeContents"> 
<img src="../../assets/avataaars.svg" class="w-50" alt="avatar">
<h1 >Start angular  </h1>
<div class=" stardiv justify-content-center align-items-center w-100 text-center">
    <span  class="starIcon">   <i class=" fas fa-star "></i></span>
  </div>
<p>Graphic Artist - Web Designer - Illustrator</p>
</div></div>
</section>